<!DOCTYPE html>
<html ng-app="tlieta">
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2013.3.1119/kendo.all.min.js")"></script>

    <script src="@Url.Content("~/Scripts/AngularJS/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/AngularJS/angular-route.js")"></script>
    <script src="@Url.Content("~/Scripts/AngularJS/angular-kendo.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    
    <link href="@Url.Content("~/Content/PdmsStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2013.3.1119/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="bodyBg">
        <!--Header Starts-->
        <div class="header" ng-controller="headercontroller">
            <div class="mainBody">
                <div class="logo"></div>
                <div class="userInfo">
                    <ul class="userAccount">
                        <li><a href="#">Welcome <strong>@Session["employeename"]</strong> </a>
                            <ul class="userLinks">
                                <li><a href="#" ng-click="changepassword()">Change password</a></li>
                                <li><a href="#" ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="#" class="homeBtn" ng-click="home()"></a>
                </div>
            </div>
        </div>
        <!-- Header ends -->
        <div class="mainBody">
            <div class="pageCenter">
                <!--Main Navigation Starts here-->
                <div class="nav" ng-controller="menucontroller">
                    <ul id="nav">
                        @if(Convert.ToInt32(@Session["role"]) == 1){
                        <li class="first">
                            <a>Admin</a>
                            <ul class="firstLevel">
                                <li><a href="#" ng-click="redirect('users')">Users</a></li>
                            </ul>
                        </li>
                        }
                        @if(Convert.ToInt32(@Session["role"]) == 2){
                        <li class="first">
                            <a>Doctor</a>
                            <ul class="firstLevel">
                                <li><a href="#" ng-click="redirect('calendar')">Appointments</a></li>
                            </ul>
                        </li>
                        }
                        <li class="first">
                            <a>Front Desk</a>
                            <ul class="firstLevel">
                                <li><a href="#" ng-click="redirect('contacts')">Contacts</a></li>
                                <li><a href="#" ng-click="redirect('appointments')">Appointments</a></li>
                            </ul>
                        </li>
                        <li class="first">
                            <a>Pharmacy</a>
                            <ul class="firstLevel">
                                <li><a href="#" ng-click="redirect('drugs')">Drugs</a></li>
                                <li><a href="#" ng-click="redirect('dosage')">Dosage</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Main Navigation ends here-->
                <!--Content-->
                <div class="mainCon">
                    <div class="contentCon  nopadd wd100">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer starts -->
    <div class="footer">
        <div class="mainBody">
            <div class="lhs"> <a href="#"> Press Releases </a> <span>|</span> <a href="#"> Privacy Policy</a>   <span>|</span>    <a href="#"> Terms Of Use</a>  <span>|</span>   Contact Us </div>
        <div class="rhs">Tlieta Solutions Private Ltd © @DateTime.Now.Year</div>
        </div>
    </div>
    <!-- Footer ends-->
</body>
<script src="@Url.Content("~/Scripts/Controllers/headercontroller.js")"></script>
<script src="@Url.Content("~/Scripts/Controllers/menucontroller.js")"></script>
</html>
